section.contact-section
    div#contacts
        span#lets-chat Contact Me
        div.contact
            a(href='https://www.linkedin.com/in/tonyxn' target='_blank') LinkedIn
    span#copyright © 2024 Tony Nguyen.